In [1]:
import pandas as pd

activity_df = pd.read_csv('data/clean/activity.csv')
drug_df = pd.read_csv('data/clean/drug.csv')
glucose_df = pd.read_csv('data/clean/glucose.csv')
food_df = pd.read_csv('data/clean/food.csv')

glucose_df['datetime'] = pd.to_datetime(glucose_df['datetime'])
activity_df['start_datetime'] = pd.to_datetime(activity_df['start_datetime'])
activity_df['end_datetime'] = pd.to_datetime(activity_df['end_datetime'])
food_df['datetime'] = pd.to_datetime(food_df['datetime'])
drug_df['datetime'] = pd.to_datetime(drug_df['datetime'])

In [2]:
glucose_df.head(25)

              datetime  glucose_mg_dl
0  2024-06-10 00:13:00          106.0
1  2024-06-10 00:28:00          108.0
2  2024-06-10 00:43:00          106.0
3  2024-06-10 00:58:00          106.0
4  2024-06-10 01:13:00          103.0
5  2024-06-10 01:28:00           96.0
6  2024-06-10 01:43:00           96.0
7  2024-06-10 01:58:00           99.0
8  2024-06-10 02:13:00           97.0
9  2024-06-10 02:28:00           98.0
10 2024-06-10 02:43:00           96.0
11 2024-06-10 02:58:00          100.0
12 2024-06-10 03:13:00          102.0
13 2024-06-10 03:28:00           99.0
14 2024-06-10 03:43:00           95.0
15 2024-06-10 03:58:00           95.0
16 2024-06-10 04:13:00           98.0
17 2024-06-10 04:28:00          103.0
18 2024-06-10 04:44:00           98.0
19 2024-06-10 04:59:00           97.0
20 2024-06-10 05:14:00           98.0
21 2024-06-10 05:29:00           95.0
22 2024-06-10 05:44:00           93.0
23 2024-06-10 05:59:00           92.0
24 2024-06-10 06:14:00           88.0

In [3]:
food_df.head()

,name,protein,carbs,fats,comment,datetime
0,"Chilli sin carne, nachos, 4 eggs",High,Medium,Medium,NaN,2024-06-10 09:03:35
1,Pizza Nduja,Small,High,High,NaN,2024-06-10 13:03:44
2,Salmon with rice and salad,High,Medium,Small,NaN,2024-06-10 16:16:29
3,"Huel, potato pizza",High,Medium,Small,NaN,2024-06-11 08:53:18
4,Salomon teryiaki sushi set,High,Medium,Medium,NaN,2024-06-11 12:27:02

In [4]:
glucose_df.set_index('datetime', inplace=True)
glucose_df = glucose_df.resample('5min').mean().reset_index()
glucose_df = glucose_df.set_index('datetime')
glucose_df.head()

                     glucose_mg_dl
datetime
2024-06-09 23:10:00            NaN
2024-06-09 23:15:00            NaN
2024-06-09 23:20:00            NaN
2024-06-09 23:25:00            NaN
2024-06-09 23:30:00            NaN

In [5]:
glucose_df = glucose_df.interpolate(method='time')
glucose_df.head(25)

                     glucose_mg_dl
datetime
2024-06-09 23:10:00            NaN
2024-06-09 23:15:00            NaN
2024-06-09 23:20:00            NaN
2024-06-09 23:25:00            NaN
2024-06-09 23:30:00            NaN
2024-06-09 23:35:00            NaN
2024-06-09 23:40:00            NaN
2024-06-09 23:45:00            NaN
2024-06-09 23:50:00            NaN
2024-06-09 23:55:00            NaN
2024-06-10 00:00:00            NaN
2024-06-10 00:05:00            NaN
2024-06-10 00:10:00     106.000000
2024-06-10 00:15:00     106.666667
2024-06-10 00:20:00     107.333333
2024-06-10 00:25:00     108.000000
2024-06-10 00:30:00     107.333333
2024-06-10 00:35:00     106.666667
2024-06-10 00:40:00     106.000000
2024-06-10 00:45:00     106.000000
2024-06-10 00:50:00     106.000000
2024-06-10 00:55:00     106.000000
2024-06-10 01:00:00     105.000000
2024-06-10 01:05:00     104.000000
2024-06-10 01:10:00     103.000000

In [6]:
glucose_df["glucose_change"] = glucose_df["glucose_mg_dl"].diff()
glucose_df.head(25)

                     glucose_mg_dl  glucose_change
datetime
2024-06-09 23:10:00            NaN             NaN
2024-06-09 23:15:00            NaN             NaN
2024-06-09 23:20:00            NaN             NaN
2024-06-09 23:25:00            NaN             NaN
2024-06-09 23:30:00            NaN             NaN
2024-06-09 23:35:00            NaN             NaN
2024-06-09 23:40:00            NaN             NaN
2024-06-09 23:45:00            NaN             NaN
2024-06-09 23:50:00            NaN             NaN
2024-06-09 23:55:00            NaN             NaN
2024-06-10 00:00:00            NaN             NaN
2024-06-10 00:05:00            NaN             NaN
2024-06-10 00:10:00     106.000000             NaN
2024-06-10 00:15:00     106.666667        0.666667
2024-06-10 00:20:00     107.333333        0.666667
2024-06-10 00:25:00     108.000000        0.666667
2024-06-10 00:30:00     107.333333       -0.666667
2024-06-10 00:35:00     106.666667       -0.666667
2024-06-10 00:40:00     106.000000       -0.666667
2024-06-10 00:45:00     106.000000        0.000000
2024-06-10 00:50:00     106.000000        0.000000
2024-06-10 00:55:00     106.000000        0.000000
2024-06-10 01:00:00     105.000000       -1.000000
2024-06-10 01:05:00     104.000000       -1.000000
2024-06-10 01:10:00     103.000000       -1.000000

In [19]:
from datetime import datetime

def find_glucose_spike(start_time: datetime, time_window: str="2h", end_time: datetime = None) -> tuple[float, float, float]:
    if end_time is None:
        end_time = start_time + pd.Timedelta(time_window)
    glucose_window = glucose_df.loc[(glucose_df.index >= start_time) & (glucose_df.index <= end_time)]
    if glucose_window.empty:
        return 0.0, 0.0, 0.0

    max_glucose = glucose_window['glucose_mg_dl'].max()
    max_glucose_idx = glucose_window['glucose_mg_dl'].idxmax()
    rising_series = glucose_window.loc[:max_glucose_idx]
    rising_mask = (rising_series['glucose_change'].diff().dropna() > 0).reindex(rising_series.index, fill_value=False)
    longest_rising_series = rising_series.loc[rising_mask]

    if not longest_rising_series.empty:
        glucose_delta = longest_rising_series['glucose_mg_dl'].iloc[-1] - longest_rising_series['glucose_mg_dl'].iloc[0]
        glucose_gradient = glucose_delta / longest_rising_series.shape[0]
    else:
        glucose_delta = 0.0
        glucose_gradient = 0.0

    
    return glucose_delta, max_glucose, glucose_gradient

example_food = food_df[food_df["name"] == "3 burgers and fries from McDonald"]
print(example_food)
print(example_food['datetime'].iloc[0])
find_glucose_spike(start_time=example_food['datetime'].iloc[0])

                                 name protein carbs  fats comment  \
21  3 burgers and fries from McDonald    High  High  High     NaN

              datetime  glucose_spike  max_glucose  glucose_gradient
21 2024-06-16 14:34:33      56.333333        173.0         18.777778
2024-06-16 14:34:33

(np.float64(56.33333333333334),
 np.float64(173.0),
 np.float64(18.777777777777782))

In [13]:
food_df["glucose_spike"], food_df["max_glucose"], food_df["glucose_gradient"] = zip(*food_df['datetime'].apply(find_glucose_spike))
food_df.head()

,name,protein,carbs,fats,comment,datetime,glucose_spike,max_glucose,glucose_gradient
21,3 burgers and fries from McDonald,High,High,High,NaN,2024-06-16 14:34:33,56.333333,173.0,18.777778
43,"Some naan bread with hummus and cheese, zott m...",High,Medium,Small,NaN,2024-06-22 16:13:59,53.000000,158.0,8.833333
35,4 cookies,Small,High,Small,NaN,2024-06-20 09:58:51,22.000000,125.0,3.666667
46,Takeaway sushi,Medium,High,Small,NaN,2024-06-23 15:40:22,35.333333,147.0,4.416667
19,Huel,High,Medium,Medium,NaN,2024-06-15 09:06:07,11.666667,120.0,1.666667

In [14]:
# sort the food by the glucose spike
food_df.sort_values(by='glucose_gradient', ascending=False, inplace=True)
food_df

,name,protein,carbs,fats,comment,datetime,glucose_spike,max_glucose,glucose_gradient
21,3 burgers and fries from McDonald,High,High,High,NaN,2024-06-16 14:34:33,56.333333,173.000000,18.777778
43,"Some naan bread with hummus and cheese, zott m...",High,Medium,Small,NaN,2024-06-22 16:13:59,53.000000,158.000000,8.833333
23,Salmon and toast,High,Medium,High,NaN,2024-06-16 18:10:57,30.333333,150.000000,7.583333
12,Tofu kimchi fries with ching,Medium,High,High,NaN,2024-06-13 12:31:52,28.000000,162.000000,7.000000
38,Oreo icecream,Small,High,Small,NaN,2024-06-20 15:56:01,32.666667,135.000000,6.533333
36,Takeaway sushi,Medium,High,Medium,NaN,2024-06-20 11:48:56,25.000000,142.000000,6.250000
8,two protein bars,Medium,Medium,Small,to były batony fcking protein,2024-06-12 10:43:42,11.000000,116.000000,5.500000
5,Milk protein drink 25g of protein,High,Small,Small,NaN,2024-06-11 14:12:26,25.333333,148.000000,5.066667
1,Pizza Nduja,Small,High,High,NaN,2024-06-10 13:03:44,29.000000,147.000000,4.833333
46,Takeaway sushi,Medium,High,Small,NaN,2024-06-23 15:40:22,35.333333,147.000000,4.416667
40,"Salad with vege fish sticks, huel",High,Medium,Medium,NaN,2024-06-21 08:34:20,8.666667,121.000000,4.333333
35,4 cookies,Small,High,Small,NaN,2024-06-20 09:58:51,22.000000,125.000000,3.666667
10,"Pasta with spinach and beet, a milky protein d...",High,High,High,NaN,2024-06-12 16:13:10,7.333333,127.000000,3.666667
24,pizza nduja,Medium,High,High,NaN,2024-06-17 12:58:05,21.333333,134.000000,3.555556
16,Toast and 3 eggs,High,Medium,High,NaN,2024-06-14 12:01:32,18.000000,124.000000,3.000000
0,"Chilli sin carne, nachos, 4 eggs",High,Medium,Medium,NaN,2024-06-10 09:03:35,11.666667,123.000000,2.916667
33,Protein yogurt and fruit,High,Medium,Small,NaN,2024-06-19 20:36:27,5.333333,123.000000,2.666667
27,Godurowa Pizza,Medium,High,High,NaN,2024-06-18 12:34:03,15.000000,129.000000,2.500000
39,Two toasted milk protein drink,High,Medium,High,NaN,2024-06-20 17:33:15,5.000000,128.000000,2.500000
20,Cake with mozzarella and salmon,High,Medium,Medium,NaN,2024-06-15 13:14:52,28.666667,143.000000,2.388889
28,Precel,Small,High,Small,NaN,2024-06-18 17:54:19,16.333333,144.000000,2.333333
9,"Toast, eggs, tomato, avocado",High,Medium,High,NaN,2024-06-12 13:58:24,11.666667,131.000000,2.333333
17,"Pecan groats, vege cutlets, pickles, dairy pro...",High,Medium,High,NaN,2024-06-14 16:27:09,4.000000,122.000000,2.000000
25,Vege kebab in pancake and huel,High,Medium,Small,NaN,2024-06-17 17:19:11,17.000000,155.000000,1.888889
13,Curry with cod,High,Medium,Medium,NaN,2024-06-13 15:50:07,14.000000,157.000000,1.750000
19,Huel,High,Medium,Medium,NaN,2024-06-15 09:06:07,11.666667,120.000000,1.666667
4,Salomon teryiaki sushi set,High,Medium,Medium,NaN,2024-06-11 12:27:02,6.333333,131.000000,1.583333
22,Huel,High,Medium,Medium,NaN,2024-06-16 16:09:28,8.666667,148.000000,1.444444
37,"Salmon with cabbage and potatoes, 6 candies",High,High,Medium,NaN,2024-06-20 13:33:20,2.666667,122.000000,1.333333
6,Cod with black rice and peas,High,Medium,Small,NaN,2024-06-11 18:14:10,8.666667,124.000000,1.238095
15,"Salad with lentils, huel",High,Medium,Medium,NaN,2024-06-14 08:55:29,3.333333,99.000000,1.111111
18,Huel,High,Medium,Small,NaN,2024-06-14 18:13:17,7.666667,133.666667,0.958333
14,Protein drink and nicks bar,High,Medium,Small,NaN,2024-06-13 18:12:57,9.000000,113.000000,0.900000
41,"Maracuja tart, another maracuja cake",Small,High,Small,ALA 300mg,2024-06-21 13:51:29,6.666667,133.666667,0.555556
42,"Tofu with rice noodles, veggies, protein shake",High,Medium,Medium,NaN,2024-06-21 13:52:10,6.666667,133.666667,0.555556
31,Tofu with soba noodles,High,Medium,Medium,NaN,2024-06-19 13:30:13,2.333333,126.000000,0.259259
34,Salmon salad and huel,High,Medium,Medium,NaN,2024-06-20 08:25:10,0.333333,107.000000,0.166667
45,"Toast, veggies, 3 eggs, cottage cheese",High,Medium,Medium,NaN,2024-06-23 12:19:01,0.800000,103.000000,0.160000
7,Salad with tuna,High,Medium,High,NaN,2024-06-12 08:49:34,0.666667,101.333333,0.095238
32,Icecream,Small,High,Small,NaN,2024-06-19 13:58:56,0.333333,136.000000,0.041667
26,"Half huela, yam pizza, half protein yogurt",High,Medium,Medium,NaN,2024-06-18 08:37:00,0.000000,114.000000,0.000000
30,Salmon salad and huel,High,Medium,Medium,NaN,2024-06-19 09:14:23,0.000000,115.000000,0.000000
29,Gyros with salad and fries,High,High,High,NaN,2024-06-18 19:54:39,0.000000,142.000000,0.000000
11,Salad with goat cheese and huel,High,Medium,Small,NaN,2024-06-13 08:52:55,0.000000,112.000000,0.000000
2,Salmon with rice and salad,High,Medium,Small,NaN,2024-06-10 16:16:29,0.000000,146.000000,0.000000
44,Poke bowl,High,Medium,Small,NaN,2024-06-22 19:52:33,0.000000,151.000000,0.000000
3,"Huel, potato pizza",High,Medium,Small,NaN,2024-06-11 08:53:18,-2.666667,117.000000,-0.533333

In [15]:
activity_df.head()

,Typ aktywności,Data,Ulubiony,title,Dystans,Kalorie,Całkowity czas,avg_hr,max_hr,Aerobowy TE,...,Koniec stresu,Śr. Stres,Maksymalny poziom stresu,Czas ruchu,Upłynęło czasu,Minimalna wysokość,Maksymalna wysokość,start_datetime,duration,end_datetime
0,Kardio,2024-06-22 23:43:30,False,Workout,0.00,770,01:36:37,127,187,2.7,...,--,--,--,00:00:00,01:36:37,--,--,2024-06-22 23:43:30,0 days 01:36:37,2024-06-23 01:20:07
1,Inne,2024-06-22 17:23:22,False,Sauna,1.05,295,01:01:34,91,157,1.0,...,--,--,--,00:21:31,01:01:35,-500,138,2024-06-22 17:23:22,0 days 01:01:35,2024-06-22 18:24:57
2,Kolarstwo,2024-06-21 20:01:17,False,Cycling,12.26,487,00:32:59,158,176,3.5,...,--,--,--,00:31:16,00:32:59,68,275,2024-06-21 20:01:17,0 days 00:32:59,2024-06-21 20:34:16
3,Kolarstwo,2024-06-21 17:34:57,False,Cycling,14.76,551,00:45:34,141,169,3.0,...,--,--,--,00:43:24,00:45:34,117,126,2024-06-21 17:34:57,0 days 00:45:34,2024-06-21 18:20:31
4,Kardio,2024-06-19 17:03:26,False,Workout,0.00,"1,141",02:58:44,123,176,2.7,...,--,--,--,00:00:00,02:58:44,--,--,2024-06-19 17:03:26,0 days 02:58:44,2024-06-19 20:02:10

In [20]:
activity_df["glucose_spike"], activity_df["max_glucose"], activity_df["glucose_gradient"] = zip(*activity_df.apply(lambda activity: find_glucose_spike(activity['start_datetime'], end_time=activity['end_datetime']), axis=1))

In [21]:
activity_df.sort_values(by='glucose_spike', ascending=False)

,Typ aktywności,Data,Ulubiony,title,Dystans,Kalorie,Całkowity czas,avg_hr,max_hr,Aerobowy TE,...,Czas ruchu,Upłynęło czasu,Minimalna wysokość,Maksymalna wysokość,start_datetime,duration,end_datetime,glucose_spike,max_glucose,glucose_gradient
5,Kardio,2024-06-17 18:02:52,False,Workout,0.00,"1,034",02:45:32,112,159,2.0,...,00:00:00,02:45:32,--,--,2024-06-17 18:02:52,0 days 02:45:32,2024-06-17 20:48:24,44.500000,155.00000,7.416667
4,Kardio,2024-06-19 17:03:26,False,Workout,0.00,"1,141",02:58:44,123,176,2.7,...,00:00:00,02:58:44,--,--,2024-06-19 17:03:26,0 days 02:58:44,2024-06-19 20:02:10,38.666667,164.00000,5.523810
1,Inne,2024-06-22 17:23:22,False,Sauna,1.05,295,01:01:34,91,157,1.0,...,00:21:31,01:01:35,-500,138,2024-06-22 17:23:22,0 days 01:01:35,2024-06-22 18:24:57,22.333333,158.00000,7.444444
11,Kardio,2024-06-10 18:09:34,False,Workout,0.00,"1,299",03:27:56,112,167,2.1,...,00:00:00,03:27:56,--,--,2024-06-10 18:09:34,0 days 03:27:56,2024-06-10 21:37:30,19.000000,132.00000,1.727273
9,Kardio,2024-06-12 18:11:56,False,Workout,0.00,"1,021",03:02:46,108,161,2.2,...,00:00:00,03:02:46,--,--,2024-06-12 18:11:56,0 days 03:02:46,2024-06-12 21:14:42,18.333333,141.00000,2.037037
7,Inne,2024-06-13 16:45:06,False,Sauna,0.73,430,01:00:15,108,166,2.0,...,00:18:10,01:00:15,-500,141,2024-06-13 16:45:06,0 days 01:00:15,2024-06-13 17:45:21,18.000000,157.00000,4.500000
0,Kardio,2024-06-22 23:43:30,False,Workout,0.00,770,01:36:37,127,187,2.7,...,00:00:00,01:36:37,--,--,2024-06-22 23:43:30,0 days 01:36:37,2024-06-23 01:20:07,14.666667,149.00000,4.888889
10,Joga,2024-06-11 16:22:22,False,Yoga,--,272,01:26:47,80,159,0.3,...,01:26:47,01:26:47,--,--,2024-06-11 16:22:22,0 days 01:26:47,2024-06-11 17:49:09,1.333333,120.00000,0.666667
2,Kolarstwo,2024-06-21 20:01:17,False,Cycling,12.26,487,00:32:59,158,176,3.5,...,00:31:16,00:32:59,68,275,2024-06-21 20:01:17,0 days 00:32:59,2024-06-21 20:34:16,0.000000,120.00000,0.000000
3,Kolarstwo,2024-06-21 17:34:57,False,Cycling,14.76,551,00:45:34,141,169,3.0,...,00:43:24,00:45:34,117,126,2024-06-21 17:34:57,0 days 00:45:34,2024-06-21 18:20:31,0.000000,128.00000,0.000000
6,Inne,2024-06-16 18:59:38,False,Sauna,1.51,386,01:29:20,87,177,0.8,...,00:28:55,01:29:22,-500,135,2024-06-16 18:59:38,0 days 01:29:22,2024-06-16 20:29:00,0.000000,150.00000,0.000000
8,Joga,2024-06-12 23:19:49,False,Yoga,--,96,00:50:14,66,109,0.0,...,00:50:14,00:50:15,--,--,2024-06-12 23:19:49,0 days 00:50:15,2024-06-13 00:10:04,0.000000,95.47619,0.000000
12,Inne,2024-06-09 20:28:05,False,Sauna,1.27,270,00:54:08,92,152,1.0,...,00:18:16,00:54:08,-500,178,2024-06-09 20:28:05,0 days 00:54:08,2024-06-09 21:22:13,0.000000,0.00000,0.000000